               
.green-arrow {
    color: green;
    margin-left: 5px;
  }
  .red-arrow{
    color: red;
    margin-left:5px;
  }
.dashboard {
  
    display: flex;
  justify-content: space-between ;
  margin-top: 20px;
  flex-wrap: wrap;
}
       .rectangle {
        width: 350px; 
        height: 280px;
        background-color: white;
        border: 1px solid #ccc;
        margin-bottom: 30px;
        margin-right: 10px;
        margin-left: 10px;
        align-items: center;
        text-align: center;
        font-size: larger;
        
        justify-content: center;
        border: 1px solid black;
        padding: 10px;
        align-items: flex-start;
}
.rectangle h3{
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}
.rectangle2 h3{
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 8px;
}
.rectangle p{
  margin-top: 2cm;
  text-align: center;
  font-size: 45px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*.rectangle:hover {
       background-color: aquamarine;
      
       
}*/   

.rectangle2 { 
        align-items: flex-start;
        width: 350px; 
        height: 280px;
        background-color: white;
        border: 1px solid #ccc;
        margin-bottom: 30px;
        margin-right: 10px;
        margin-left: 0px;
        justify-content: center;
        text-align: center;
        border: 1px solid black;
        padding: 10px;
        font-size: larger;
}

/*.rectangle2:hover{
      background-color:aquamarine;
       
}*/

html,body{
  margin: 0;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0f2130;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f2130;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  opacity: 85%;
}

li {
  float: right;
}

li a {
  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li a:hover {
  background-color: #111;
}

.logo img
  {
   position:absolute;
   margin-top: 10px;
   margin-left: 70px;
  }

    
